<html lang="pt-br">
{%load static%}
<head>
  <title>Adicionar Produto</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'stock/create_product.css' %}">
</head>

<body>
  <nav>
    <div class="nav-left">
      <img src="{% static 'assets/stock/logonvg.png'%}" alt="Logo" class="logo">
      <h1>Nova Geração</h1>
    </div>
    <div class="nav-right">
      <button>
        <a href="{% url 'index' %}"> Tabela de Produto </a>
      </button>
      <button>
        <a href="{% url 'logout' %}"> Sair </a>
      </button>
    </div>
  </nav>

  <main>
    <div class="title">
      <h2>Adicionar Produtos</h2>
      <span>Você está realizando a compra pela loja <span class="store_name">{{user}}</span>, para realizar por outra loja por favor realiaze o login novamente</span>
    </div>
    <div class="card">
      <form action="{% url 'create_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="lineInput">
        <label>{{field.label}}</label>
          {{field}}
          {% endfor %}
      </div>
      </form>

      <div class="button-group">
        <button type="submit">Adicionar</button>
        <button><a href="{% url 'index'%}">Cancelar</a></button>
      </div>
    </div>

    <div class="content">
      <table border="1">
        <thead>
          <tr>
            <th class="center">ID</th>
            <th class="center">Produto</th>
            <th class="center">Descrição</th>
            <th class="center">Valor</th>
            <th class="center">Quantidade</th>
            <th class="center">Data de compra</th>
          </tr>
        </thead>
        <tbody id="tbody">
        {% for product in products %}
          <tr>
            <td class="center">{{product.id}}</td>
            <td class="center">{{product.name}}</td>
            <td class="center">{{product.description}}</td>
            <td class="center">{{product.price}}</td>
            <td class="center">{{product.quantity}}</td>
            <td class="center">{{product.get_date_formated}}</td>
          </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>