<html lang="pt-br">
{% load static %}
<head>
  <title>Atualizar Produto</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'stock/update_product.css'%}">
</head>

<body>
  <nav>
    <div class="nav-left">
      <img src="{% static 'assets/stock/logonvg.png'%}" alt="Logo" class="logo">
      <h1>Nova Geração</h1>
    </div>
    <div class="nav-right">
      <button><a href="{%url 'products:index'%}">Tabela de Produto</a></button>
      <button><a href="{%url 'products:create_product' %}">Adicionar Produto</a></button>
      <button><a href="{%url 'users:logout'%}">Sair</a></button>
    </div>
  </nav>
{%block content%}
  <main>
    <div class="title">
      <h2>Atualizar Produtos</h2>
      <span>Você está atualizando o produto de ID {{product.id}}, {{product.name}}, Lembre de atualizar a data de abastecimento</span>
    </div>

    <div class="card">
      <form action="{% url 'products:update_product' product_id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {%for field in form.visible_fields%}
          <div class="lineInput">
            <label>{{field.label}}</label>
            {{field}}
          </div>
          {%endfor%}
              <div class="button-group">
            <button type="submit">Atualizar</button>
            <button><a href="{% url 'products:index'%}">Cancelar</a></button>
          </div>
      </form>


    </div>

    <div class="content">
      <table border="1">
        <thead>
          <tr>
            <th class="center">ID</th>
            <th class="center">Produto</th>
            <th class="center">Descrição</th>
            <th class="center">Valor</th>
            <th class="center">Quantidade</th>
            <th class="center">Data de compra</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td class="center">{{product.id}}</td>
            <td class="center">{{product.name}}</td>
            <td class="center">{{product.description}}</td>
            <td class="center">{{product.price}}</td>
            <td class="center">{{product.quantity}}</td>
            <td class="center">{{product.get_date_formated}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
</body>

</html>