<form id="form-container" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            {{ orderForm.as_p }}
            {{ orderItemForm.management_form }}
            {% for form in orderItemForm %}
                <div class="order-form">
                     {{ form.as_p }}
                </div>
            {% endfor %}
            <button id="add-form" type="button">adicionar novo produto</button>
            <button type="submit">enviar</button>
            <button><a href="{% url 'products:index'%}">Cancelar</a></button>
      </form>

<h2>Itens no Pedido:</h2>
    <ul>
            <li>
                <button>
                    <a href=""> Editar</a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">Deletar</a>
                </button>
            </li>
            <li>Nenhum item adicionado</li>
    </ul>

<script>
    let orderForm = document.querySelectorAll(".order-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = orderForm.length-1
    addButton.addEventListener('click',addForm)

    function addForm(e){
        e.preventDefault()

        let newForm = orderForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        totalForms.setAttribute('value', `${formNum+1}`)

        const newSelect = newForm.querySelector('select'); // Assumindo que há apenas um select por form
        newSelect.addEventListener('change', updateSelectOptions);
        updateSelectOptions(); // Atualiza opções para garantir que os já selecionados sejam desabilitados
    }

    function updateSelectOptions() {
        // Coleta todos os selects de item
        const selects = document.querySelectorAll('.order-form select');
        const selectedValues = Array.from(selects).map(select => select.value).filter(value => value); // Filtra valores vazios

        selects.forEach(select => {
            const options = select.querySelectorAll('option');
            options.forEach(option => {
                if (selectedValues.includes(option.value) && option.value !== select.value) {
                    option.disabled = true; // Desabilita a opção se já estiver selecionada em outro select
                } else {
                    option.disabled = false; // Reabilita se não estiver selecionada
                }
            });
        });
    }

    // Inicializa o evento change para todos os selects já existentes
    document.querySelectorAll('.order-form select').forEach(select => {
        select.addEventListener('change', updateSelectOptions);
    });
</script>
