<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% for item in order %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">>ID</th>
            <th scope="col">>Store</th>
            <th scope="col">>Shoppinglist</th>
            <th scope="col">>dateOrder</th>
            <th scope="col">>completionDate</th>
            <th scope="col">>shipping</th>
            <th scope="col">>status</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td class="center">{{item.id}}</td>
            <td class="center">{{item.store}}</td>
            <td class="center">
                {% for order_item in item.shoppinglist.all %}
                  <li> {{ order_item.quantity }} of {{ order_item.item.name }}</li>
                {% endfor %}
            </td>
            <td class="center">{{item.dateOrder}}</td>
            <td class="center">{{item.completionDate}}</td>
            <td class="center">{{item.shipping}}</td>
            <td class="center">{{item.status}}</td>
          </tr>
        </tbody>
      </table>
{% endfor %}

{% for item in orderItem %}
<table class="table table-bordered">
        <thead>
          <tr>
            <th class="center">ID</th>
            <th class="center">Item</th>
            <th class="center">Quantity</th>
            <th class="center">Total</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td class="center">{{item.id}}</td>
            <td class="center">{{item.item}}</td>
            <td class="center">{{item.quantity}}</td>
            <td class="center">{{item.total}}</td>
          </tr>
        </tbody>
      </table>
{% endfor %}
