<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="{% static 'orders/order_list.css' %}">
</head>
<body>

<!-- Navbar -->
<nav>
    <div class="nav-left">
        <img src="{% static 'assets/img.png' %}" alt="Logo" class="logo">
        <h1>Nova Geração</h1>
    </div>
    <div class="nav-right">
        <button><a href="{% url 'orders:view_order' %}"> Home</a></button>
        <button><a href="{%url 'products:create_product'%}">Adicionar Produto</a></button>
        <button><a href="{% url 'orders:create_order' %}" >Pedidos</a></button>
        <button><a href="{%url 'users:logout' %}">Sair</a></button>
    </div>
</nav>
<main>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID do pedido</th>
            <th scope="col">CNPJ da Loja</th>
            <th scope="col">Lista de itens que foram pedidos</th>
            <th scope="col">Data da compra</th>
            <th scope="col">Tipo de entrega.</th>
            <th scope="col">Custo total</th>
            <th scope="col">Lucro total</th>
          </tr>
        </thead>
        <tbody id="tbody">
        {% for item in order %}
          <tr>
            <td class="center">{{item.id}}</td>
            <td class="center">{{item.store}}</td>
            <td class="center">
                {% for order_item in item.shoppinglist.all %}
                  <li> {{ order_item.quantity }} unidades de {{ order_item.item.name }}</li>
                {% endfor %}
            </td>
            <td class="center">{{item.dateOrder}}</td>
            <td class="center">{{item.shipping}}</td>
            <td class="center">{{item.get_total_cost}}</td>
            <td class="center">{{item.get_total_profit}}</td>

        {% endfor %}
        </tbody>
      </table>

<!-- Modal para Atualizar Status e Envio -->
<div id="statusModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Atualizar Status do Pedido</h3>
        <form method="POST" id="statusForm">
            {% for field in updateForm %}
                {{ field }} <br><br>
            {% endfor %}
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>
    </tr>
<script>
    // Função para abrir o modal e preencher os campos
    function openModal(orderId) {
        document.getElementById('statusModal').style.display = "block";
    }

    // Função para fechar o modal
    function closeModal() {
        document.getElementById('statusModal').style.display = "none";
    }

    // Fechar o modal se o usuário clicar fora da janela modal
    window.onclick = function(event) {
        if (event.target == document.getElementById('statusModal')) {
            closeModal();
        }
    }
</script>
</main>


