<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="change_password.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="post">
        <h3>Alterar Senha</h3>
        <div>
            <label for="old-password">Senha Antiga</label>
            <input type="password" id="old-password" name="old-password" required>
        </div>
        <div>
            <label for="new-password">Nova Senha</label>
            <input type="password" id="new-password" name="new-password" required>
        </div>
        <div>
            <label for="confirm-password">Confirmar Nova Senha</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit">Alterar Senha</button>
    </form>
</body>
</html>
