{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link rel="stylesheet" href="{% static 'users/change_password.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
{% block content %}
    <form method="post" action="{% url 'users:change_password' %}">
       {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <h3>Alterar Senha</h3>
        <div>
            {% for field in form.visible_fields %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        <label>
            {{field.label}}
        </label>
        {{field}}
        {% endfor %}
        </div>
        <button type="submit">Alterar Senha</button>
    </form>
{% endblock %}
</body>